<h1>Información del cliente</h1>

<div *ngIf="client">
  <p><strong>Nombre:</strong> {{ client.name }}</p>
  <p><strong>Apellido:</strong> {{ client.lastName }}</p>
  <p><strong>Edad:</strong> {{ client.age }}</p>
  <p><strong>Número de cuenta:</strong> {{ client.accountNumber }}</p>
  <p><strong>Fecha de creación de la cuenta :</strong> {{ client.accountCreationDate }}</p>

  <h3>Movimientos</h3>
  <table>
    <tr>
      <th>Tipo</th>
      <th>Monto</th>
      <th>Descripción</th>
    </tr>
    <tr *ngFor="let movement of client.movements">
      <td>{{ movement.type }}</td>
      <td>{{ movement.amount }}</td>
      <td>{{ movement.description }}</td>
    </tr>
  </table>

<p><strong>Balance:</strong> {{ calculateBalance(client) }}</p>
</div>

<div *ngIf="!client && !isLoading">
  <p>No existe información disponible para el código ingresado.</p>
</div>

<div *ngIf="isLoading">
  <p>Cargando información...</p>
</div>

<label for="code">Ingrese el código:</label>
<input type="text" [(ngModel)]="code" id="code" name="code" (keyup)="checkCodeLength()">
<button (click)="getClientByCode()">Consultar Cliente/Empleado</button>

<div *ngIf="isCodeTooLong" class="error-message">
  El código debe tener máximo 9 caracteres.
</div>