/* client-info.component.css */

/* Estilos para el título principal */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Estilos para los subtítulos */
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  /* Estilos para la fila de encabezado de la tabla */
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para las filas de la tabla */
  tr {
    background-color: #ffffff;
  }
  
  /* Estilos para las filas impares de la tabla (opcional) */
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para el botón */
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para el mensaje de error */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }